@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h4 class="display-4">EMPLOYEE MANAGEMENT SYSTEM</h4>
        <!--<div style="padding-top:50px">
            <a class="btn btn-primary" asp-controller="Employee" asp-action="Index">EMPLOYEE</a>
        
            <a class="btn btn-primary" asp-controller="Department" asp-action="Index">DEPARTMENT</a>
        </div>-->

    </div>
